In [2]:
# pip install requests

In [ ]:
import requests, json, pandas as pd # type: ignore

In [4]:
def fetch_data(url):
    response = requests.get(url)
    response.raise_for_status()
    return response.json()

In [5]:
url1 = "https://api.linkeddata.cultureelerfgoed.nl/queries/sablina-vis/topTerm/2/run?pageSize=10000"
url2 = "https://api.linkeddata.cultureelerfgoed.nl/queries/sablina-vis/missingscopenote01/18/run?pageSize=10000"
url3 = "https://api.linkeddata.cultureelerfgoed.nl/queries/sablina-vis/missingscopenote02/34/run?pageSize=10000"
url4 = "https://api.linkeddata.cultureelerfgoed.nl/queries/sablina-vis/missingscopenote03/35/run?pageSize=10000"
url5 = "https://api.linkeddata.cultureelerfgoed.nl/queries/sablina-vis/missingscopenote04/20/run?pageSize=10000"
url6 = "https://api.linkeddata.cultureelerfgoed.nl/queries/sablina-vis/missingscopenote05/17/run?pageSize=10000"
url7 = "https://api.linkeddata.cultureelerfgoed.nl/queries/sablina-vis/missingscopenote06/13/run?pageSize=10000"
url8 = "https://api.linkeddata.cultureelerfgoed.nl/queries/sablina-vis/missingscopenote07/15/run?pageSize=10000"
url9 = "https://api.linkeddata.cultureelerfgoed.nl/queries/sablina-vis/missingscopenote08/17/run?pageSize=10000"
url10 = "https://api.linkeddata.cultureelerfgoed.nl/queries/sablina-vis/missingscopenote09/14/run?pageSize=10000"
url11 = "https://api.linkeddata.cultureelerfgoed.nl/queries/sablina-vis/missingscopenote10/8/run?pageSize=10000"

In [6]:
urls = [url1, url2, url3, url4, url5, url6, url7, url8, url9, url10, url11]

for i, url in enumerate(urls, start=1):
    data = fetch_data(url)
    globals()[f"dataLaag{i}"] = data

In [7]:
dfs = ['dataLaag1', 'dataLaag2', 'dataLaag3', 'dataLaag4', 'dataLaag5', 'dataLaag6', 'dataLaag7', 'dataLaag8', 'dataLaag9', 'dataLaag10', 'dataLaag11']

In [8]:
for i, df in enumerate(dfs, start=1):
    df = globals()[df]
    df = pd.DataFrame(df)
    globals()[f"df{i}"] = df

In [9]:
df1.rename(columns={'topTermLabel': 'prefLabelLaag1'}, inplace=True) # type: ignore
# df1.rename(columns={'countWithoutScopeNote': 'aantalNarrowerZonderScopeNote_df1'}, inplace=True) # type: ignore

In [ ]:
dfs2 = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11]

# List of merge keys (one per merge step):
merge_keys = [
    'prefLabelLaag1',  # merge df1 and df2
    'prefLabelLaag2',  # merge (df1+df2) and df3
    'prefLabelLaag3',  # merge previous result and df4
    'prefLabelLaag4',  # merge with df5
    'prefLabelLaag5',  # merge with df6
    'prefLabelLaag6',  # merge with df7
    'prefLabelLaag7',  # merge with df8
    'prefLabelLaag8',  # merge with df9
    'prefLabelLaag9',  # merge with df10
    'prefLabelLaag10'  # merge with df11
]

merged_df = dfs2[0]

for i in range(len(merge_keys)):
    suffix_left = f"_df{i+1}"
    suffix_right = f"_df{i+2}"
    
    merged_df = pd.merge(
        merged_df,
        dfs2[i+1],
        on=merge_keys[i],
        how='outer',
        suffixes=(suffix_left, suffix_right)
    )

  prefLabelLaag1 countWithoutScopeNote     prefLabelLaag2  \
0       objecten                  3606  bebouwde omgeving
1       objecten                  3606  bebouwde omgeving
2       objecten                  3606  bebouwde omgeving
3       objecten                  3606  bebouwde omgeving
4       objecten                  3606  bebouwde omgeving

  mistEigenScopeNote_df2 aantalNarrowerZonderScopeNote_df2 uitklappen_df2  \
0                    nee                              1929          ja ->
1                    nee                              1929          ja ->
2                    nee                              1929          ja ->
3                    nee                              1929          ja ->
4                    nee                              1929          ja ->

  prefLabelLaag3 mistEigenScopeNote_df3 aantalNarrowerZonderScopeNote_df3  \
0  bouwelementen                    nee                              1192
1  bouwelementen                    nee                              1192
2  bouwelementen                    nee                              1192
3  bouwelementen                    nee                              1192
4  bouwelementen                    nee                              1192

  uitklappen_df3  ... aantalNarrowerZonderScopeNote_df9 uitklappen_df9  \
0          ja ->  ...                               NaN            NaN
1          ja ->  ...                               NaN            NaN
2          ja ->  ...                               NaN            NaN
3          ja ->  ...                               NaN            NaN
4          ja ->  ...                               NaN            NaN

  prefLabelLaag10 mistEigenScopeNote_df10 aantalNarrowerZonderScopeNote_df10  \
0             NaN                     NaN                                NaN
1             NaN                     NaN                                NaN
2             NaN                     NaN                                NaN
3             NaN                     NaN                                NaN
4             NaN                     NaN                                NaN

  uitklappen_df10 prefLabelLaag11 mistEigenScopeNote_df11  \
0             NaN             NaN                     NaN
1             NaN             NaN                     NaN
2             NaN             NaN                     NaN
3             NaN             NaN                     NaN
4             NaN             NaN                     NaN

  aantalNarrowerZonderScopeNote_df11 uitklappen_df11
0                                NaN             NaN
1                                NaN             NaN
2                                NaN             NaN
3                                NaN             NaN
4                                NaN             NaN

[5 rows x 42 columns]

In [11]:
# pip install dash

In [12]:
# pip install plotly

In [13]:
# pip install --upgrade nbformat

In [14]:
colsAantalNarrower = ['aantalNarrowerZonderScopeNote_df2','aantalNarrowerZonderScopeNote_df3','aantalNarrowerZonderScopeNote_df4','aantalNarrowerZonderScopeNote_df5',
                      'aantalNarrowerZonderScopeNote_df6','aantalNarrowerZonderScopeNote_df7','aantalNarrowerZonderScopeNote_df8','aantalNarrowerZonderScopeNote_df9',
                      'aantalNarrowerZonderScopeNote_df10']

In [15]:
merged_df[colsAantalNarrower] = merged_df[colsAantalNarrower].apply(pd.to_numeric, errors='coerce')

In [16]:

paired_columns = [
    ('mistEigenScopeNote_df2','aantalNarrowerZonderScopeNote_df2'),
('mistEigenScopeNote_df3','aantalNarrowerZonderScopeNote_df3'),
('mistEigenScopeNote_df4','aantalNarrowerZonderScopeNote_df4'),
('mistEigenScopeNote_df5','aantalNarrowerZonderScopeNote_df5'),
('mistEigenScopeNote_df6','aantalNarrowerZonderScopeNote_df6'),
('mistEigenScopeNote_df7','aantalNarrowerZonderScopeNote_df7'),
('mistEigenScopeNote_df8','aantalNarrowerZonderScopeNote_df8'),
('mistEigenScopeNote_df9','aantalNarrowerZonderScopeNote_df9'),
('mistEigenScopeNote_df10','aantalNarrowerZonderScopeNote_df10'),
('mistEigenScopeNote_df11','aantalNarrowerZonderScopeNote_df11')]


filtered_df = merged_df[
    ~merged_df.apply(
        lambda row: any(
            (row[pair[0]] == 0 and row[pair[1]] == 'nee') or
            (row[pair[1]] == 0 and row[pair[0]] == 'nee')
            for pair in paired_columns
        ),
        axis=1
    )
]

In [19]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 5 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   prefLabelLaag10                47 non-null     object
 1   prefLabelLaag11                47 non-null     object
 2   mistEigenScopeNote             47 non-null     object
 3   aantalNarrowerZonderScopeNote  47 non-null     object
 4   uitklappen                     47 non-null     object
dtypes: object(5)
memory usage: 2.0+ KB
None